body {background-color: hsl(30, 38%, 92%);
padding: auto;}

.submit {    background-color: hsl(158, 36%, 37%);
}

.container {
    margin: 10px 5px 5px 5px;
    border-radius: 20px;
    width: 300px;
    height: auto;

}

img {
    width: 100%;
    
}